*{
    margin: 0%;
    padding: 0%;
}
.wrapper{
    width: 100%;
}
.impl_menu_wrapper{
 width: 100%;
}
/* .dropdown{
display: none;
} */

.impl_heading{
    width: 100%;
}

.img-background{
    width: 100%;
}
/* .heading_area h1{
    display:none; 
} */
.img-item-button{
    width: 50%;
    height: 50%;
}

.impl_help_wrapper{
    display:none; 
}
@media only screen and (min-width:768px){
    .img-banner{
        display: block;
        width: 100%;
        

    }
}

@media only screen and (min-width:10%){
    .img-item-button{
        display: block;
        width: 50%;
        height: 50%;

    }
}